<!-- <div class="container" style="display: none;">
  <h2>Products</h2>

  <div class="categories">
  <button
    *ngFor="let cat of categories"
    (click)="filterByCategory(cat)"
    [class.active]="selectedCategory === cat">
    {{ cat }}
  </button>
</div>
  <div class="filter">
    <label>Filter by category:</label>
    <select [(ngModel)]="selectedCategory" (change)="filterByCategory(selectedCategory)">
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>
  </div>

  <div *ngIf="loading">Loading products...</div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="grid">
    <div class="card" *ngFor="let product of filteredProducts; ">
      <img [src]="product.image" alt="{{ product.title }}" />
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | currency }}</p>
    </div>
  </div>
</div> -->

<!--
<div class="categories">
  <button
    *ngFor="let cat of (categories$ | async)"
    (click)="onCategorySelect(cat)"
    [class.active]="(selectedCategory$ | async) === cat">
    {{ cat }}
  </button>
</div>

<div class="grid">
  <div class="card" *ngFor="let product of (products$ | async)">
    <img [src]="product.image" alt="{{ product.title }}" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency }}</p>
  </div>
</div> -->


<div class="filters" [formGroup]="filtersForm">
  <input type="text" formControlName="searchTerm" placeholder="Search products..." />

  <input type="number" formControlName="min" placeholder="Min price" />
  <input type="number" formControlName="max" placeholder="Max price" />
</div>

<div class="categories">
  <button
    *ngFor="let cat of (categories$ | async)"
    (click)="onCategorySelect(cat)"
    [class.active]="(selectedCategory$ | async) === cat">
    {{ cat }}
  </button>
</div>



<div *ngIf="loading$ | async" class="loading">
  Loading products...
</div>

<div *ngIf="error$ | async as error" class="error">
  {{ error }}
</div>

<div class="grid" *ngIf="!(loading$ | async)">
  <div class="card" *ngFor="let product of (products$ | async)">
    <img [src]="product.image" alt="{{ product.title }}" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency }}</p>
  </div>
</div>
