
<div class="filters" [formGroup]="filtersForm">
  <input type="text" formControlName="searchTerm" placeholder="Search products..." />
  <input type="number" formControlName="min" placeholder="Min price" />
  <input type="number" formControlName="max" placeholder="Max price" />

  <!-- Sorting -->
  <select formControlName="sortBy">
    <option [ngValue]="null">Sort By</option>
    <option value="price">Price</option>
    <option value="title">Title</option>
  </select>
  <select formControlName="sortOrder">
    <option [ngValue]="null">Order</option>
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</div>

<div class="categories">
  <button
    *ngFor="let cat of (categories$ | async)"
    (click)="onCategorySelect(cat)"
    [class.active]="(selectedCategory$ | async) === cat">
    {{ cat }}
  </button>
</div>



<div *ngIf="loading$ | async" class="loading">
  Loading products...
</div>

<div *ngIf="error$ | async as error" class="error">
  {{ error }}
</div>

<div class="grid" *ngIf="!(loading$ | async)">
  <div class="card" *ngFor="let product of (products$ | async)">
    <h3>{{ product.title }}</h3>
    <!-- <a [routerLink]="['/products', product.id]"> -->
    <a [routerLink]="['/', 'products', product.id]">
      <img [src]="product.image" [alt]="product.title" />
      <h3>{{ product.title }}</h3>
    </a>


    <p>{{ product.price | currency }}</p>
  </div>
</div>


<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>

<div class="pagination-controls">
  <label>
    Products per page:
    <select [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>
  </label>
</div>


