.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  button {
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background: #c7eae4;
    color: #0d7e6b;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: #ddf3f0;
      color: #31ad98;
      box-shadow: 0px 17px 16px -9px #31ad9845;
    }
  }

  select {
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
  }
}
