<div class="container pt-3">

  <!-- Loading state -->
  <div *ngIf="loading$ | async" class="loading">
    <ngx-skeleton-loader
      *ngFor="let item of [1]"
      appearance="line"
      [theme]="{ width: '100%', height: '20rem' }">
    </ngx-skeleton-loader>
  </div>

  <!-- Error state -->
  <div *ngIf="error$ | async as error" class="error">
    {{ error }}
  </div>

  <!-- Product details -->
  <ng-container *ngIf="product$ | async as product">
    <div class="row">
      <div class="col-12">
        <button appButtonStyle="add" (click)="goBack()">{{ 'GO_BACK' | translate }}</button>
      </div>
      <div class="col-12 col-md-6 mb-3 p-5">

        <img [src]="product.image" [alt]="product.title" class="img-fluid w-md-auto" />


      </div>

      <div class="col-12 col-md-6 mt-md-5">
        <h2 Class="mb-3">{{ product.title }}</h2>
        <p class="mb-3 currency">{{ product.price | currency }}</p>
        <app-rating-stars [rate]="product.rating?.rate ?? 0" [count]="product.rating?.count ?? 0" [showText]="true">
        </app-rating-stars>
        <p class="mt-3"><strong>{{ 'CATEGORY' | translate }}</strong> <br>{{ product.category }}</p>
        <p class="mt-3"><strong>{{ 'DESCRIPTION' | translate }}</strong> <br> {{ product.description }}</p>

        <div class="d-flex justify-content-around mt-5 mb-5">

          <!-- Favorites button -->
          <ng-container *ngIf="product$ | async as product">
            <button *ngIf="isFavorite$ | async; else addFavBtn" (click)="removeFromFavorites(product.id)"
              appButtonStyle="remove">
              {{ 'REMOVE_FAVORITES' | translate }}
            </button>
            <ng-template #addFavBtn>
              <button (click)="addToFavorites(product)" appButtonStyle="add" >{{ 'ADD_FAVORITES' | translate }}</button>
            </ng-template>
          </ng-container>


          <!-- Cart button -->
          <ng-container *ngIf="product$ | async as product">
            <button *ngIf="isInCart$ | async; else addCartBtn" (click)="removeFromCart(product.id)" appButtonStyle="remove">
              {{ 'REMOVE_CART' | translate }}
            </button>
            <ng-template #addCartBtn>
              <button (click)="addToCart(product)" appButtonStyle="add">{{ 'ADD_CART' | translate }}</button>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>


  </ng-container>
</div>
